@model List<web_voyager.Areas.TravelServices.Models.Hotel>
@{
    ViewData["Title"] = "Hotels";
    bool searchPerformed = ViewData["searchPerformed"] as bool? ?? false;
    string searchString = ViewData["searchString"] as string ?? "";
}

<h2>Discover Our Hotels</h2>

<div class="input-group">
    <input type="text" name="searchString" id="ajaxSearchStringHotel" class="form-control"
        placeholder="Search for hotels..." aria-label="Search for hotels">
    <div class="input-group-append">
        <button id="ajaxSearchButtonHotel" class="btn dark-button">Search</button>
    </div>
</div>
<div id="ajaxSearchResults"></div>


@if (Model.Any())
{
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Address</th>
                <th>Description</th>
                <th>Price</th>
                <th>Rooms Available</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hotel in Model)
                {
                    <tr>
                        <td>@hotel.Name</td>
                        <td>@hotel.Location</td>
                        <td>@hotel.Address</td>
                        <td>@hotel.Description</td>
                        <td><span class="text-success">$</span>@hotel.Price</td>
                        @if (@hotel.RoomsAvailable <= 10)
                        {
                            <td class="text-danger">@hotel.RoomsAvailable</td>
                        }
                        else if (@hotel.RoomsAvailable <= 20)
                        {
                            <td class="text-warning">@hotel.RoomsAvailable</td>
                        }
                        else
                        {
                            <td>@hotel.RoomsAvailable</td>
                        }
                        <td class="text-nowrap">
                            <a asp-controller="Hotel" asp-action="Details" asp-route-id="@hotel.Id"
                                class="btn light-button">View</a>
                            @if (@hotel.RoomsAvailable > 0)
                            {
                                <a asp-controller="Hotel" asp-action="Booking" asp-route-id="@hotel.Id"
                                    class="btn light-button">Book</a>
                            }
                            else
                            {
                                <a asp-controller="Hotel" asp-action="Booking" asp-route-id="@hotel.Id"
                                    class="btn light-button disabled">Fully Booked</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    if (searchPerformed)
    {
        <p>No hotel matches "@searchString"</p>
    }
    else
    {
        <p>No hotels available</p>
    }
}
@if (User.IsInRole("Admin"))
{
    <div>
    <a asp-controller="Hotel" asp-action="Create" class="btn dark-button">Add Hotel</a>
</div>
}
