@model List<web_voyager.Models.Flight>
@{
    ViewData["Title"] = "Flights";
    bool searchPerformed = ViewData["searchPerformed"] as bool? ?? false;
    string searchString = ViewData["searchString"] as string ?? "";
}

<h2>Flights</h2>

@if (Model.Any())
{
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                @* <th>ID</th> *@
                <th>Departure</th>
                <th>Arrival</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Airline</th>
                @* <th>Status</th> *@
                <th>Price</th>
                <th>Capacity</th>
                <th>Seats Available</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flight in Model)
                {
                    <tr>
                        @* <td>@flight.Id</td> *@
                        <td>@flight.Departure</td>
                        <td>@flight.Arrival</td>
                        <td>@flight.DepartureTime</td>
                        <td>@flight.ArrivalTime</td>
                        <td>@flight.Airline</td>
                        @* <td>@flight.Status</td> *@
                        <td>$@flight.Price</td>
                        <td>@flight.Capacity</td>
                        <td>@flight.SeatsAvailable</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@flight.Id" class="btn light-button">View</a>
                            <a href="#" class="btn light-button not-implemented">Book</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    if (searchPerformed)
    {
        <p>No Flight name with "@searchString"</p>
    }
    else
    {
        <p>No Flights available</p>
    }
}
<div>
    @* Only Admins should be able to see Add Flight button, do after authentication *@
    <a asp-action="Create" class="btn dark-button">Add Flight</a>
</div>