@model List<web_voyager.Models.Flight>
@{
    ViewData["Title"] = "Flights";
    bool searchPerformed = ViewData["searchPerformed"] as bool? ?? false;
    string searchString = ViewData["searchString"] as string ?? "";
}

<h2>Explore Our Destinations</h2>

@if (Model.Any())
{
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Airline</th>
                <th>Price</th>
                <th>Seats Available</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flight in Model)
                {
                    <tr>
                        <td>@flight.Departure</td>
                        <td>@flight.Arrival</td>
                        <td>@flight.DepartureTime</td>
                        <td>@flight.ArrivalTime</td>
                        <td>@flight.Airline</td>
                        <td><span class="text-success">$</span>@flight.Price</td>
                        @if (@flight.SeatsAvailable <= 50)
                        {
                            <td class="text-danger">@flight.SeatsAvailable</td>
                        }
                        else if (@flight.SeatsAvailable <= 100)
                        {
                            <td class="text-warning">@flight.SeatsAvailable</td>
                        }
                        else
                        {
                            <td>@flight.SeatsAvailable</td>
                        }
                        <td class="text-nowrap">
                            <a asp-controller="Flight" asp-action="Details" asp-route-id="@flight.Id"
                                class="btn light-button">View</a>
                            @if (@flight.SeatsAvailable > 0)
                            {
                                <a asp-controller="Flight" asp-action="Booking" asp-route-id="@flight.Id"
                                    class="btn light-button">Book</a>
                            }
                            else
                            {
                                <a asp-controller="Flight" asp-action="Booking" asp-route-id="@flight.Id"
                                    class="btn light-button disabled">Flight Unavailable</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    if (searchPerformed)
    {
        <p>No Flight name with "@searchString"</p>
    }
    else
    {
        <p>No Flights available</p>
    }
}
<div>
    @* Only Admins should be able to see Add Flight button, do after authentication *@
    <a asp-controller="Flight" asp-action="Create" class="btn dark-button">Add Flight</a>
</div>