@model List<web_voyager.Models.Car>

@{
    ViewData["Title"] = "Car Rentals";
}

<h2>Car Rentals</h2>

<table class="table">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Location</th>
            <th>Price Per Day</th>
            <th>Cars Available</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Brand</td>
                <td>@car.Model</td>
                <td>@car.Location</td>
                <td>$@car.PricePerDay</td>
                <td>@car.CarsAvailable</td>
                <td>
                    <a asp-action="Details" asp-route-id="@car.Id" class="btn light-button">View</a>
                    <a asp-action="Book" asp-route-id="@car.Id" class="btn light-button">Book</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Add New Car</a>
