@model web_voyager.Areas.TravelServices.Models.Booking

@{
    ViewData["Title"] = "Booking Confirmation";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>Car Rental Booking Confirmation</h2>
        </div>
        <div class="card-body">
            <h3 class="card-title">Your booking has been confirmed! - ID: @Model.Id</h3>
            @if (Model.Car != null)
            {
                <p class="card-text"><strong>Car:</strong> @Model.Car.Brand - @Model.Car.Model</p>
                <p class="card-text"><strong>Location:</strong> @Model.Car.Location</p>
                <p class="card-text"><strong>Price Per Day:</strong> $@Model.Car.PricePerDay</p>
                <p class="card-text">Please save this information for your records.</p>
            }
            else
            {
                <p class="card-text">Car rental details are not available.</p>
            }

            @if (Model.User != null)
            {
                @* <p class="card-text"><strong>Booked by:</strong> @Model.User.Username</p> *@
            }
            else
            {
                <p class="card-text">Booking user details are not available.</p>
            }

            <a asp-action="Index" asp-controller="Car" class="btn dark-button">Return to Car Rentals</a>
        </div>
    </div>
</div>
