@model web_voyager.Areas.TravelServices.Models.Car

@{
    ViewData["Title"] = "Car Details";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>@Model.Brand @Model.Model - Details</h2>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Brand</dt>
                <dd class="col-sm-9">@Model.Brand</dd>

                <dt class="col-sm-3">Model</dt>
                <dd class="col-sm-9">@Model.Model</dd>

                <dt class="col-sm-3">Location</dt>
                <dd class="col-sm-9">@Model.Location</dd>

                <dt class="col-sm-3">Description</dt>
                <dd class="col-sm-9">@Model.Description</dd>

                <dt class="col-sm-3">Price Per Day</dt>
                <dd class="col-sm-9">$@Model.PricePerDay</dd>

                <dt class="col-sm-3">Cars Available</dt>
                <dd class="col-sm-9">@Model.CarsAvailable</dd>

                <dt class="col-sm-3">Seats</dt>
                <dd class="col-sm-9">@Model.Seats</dd>
            </dl>
            <a asp-action="Index" class="btn light-button">Back to List</a>
            @if (@Model.CarsAvailable > 0)
            {
                <a asp-controller="Car" asp-action="Booking" asp-route-id="@Model.Id" class="btn light-button">Rent</a>
            }
            else
            {
                <a class="btn light-button disabled">Unavailable</a>
            }
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
