@model web_voyager.Areas.TravelServices.Models.Booking

@{
    ViewData["Title"] = "Booking Confirmation";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>Booking Confirmation</h2>
        </div>
        <div class="card-body">
            <h3 class="card-title">Your booking has been confirmed! - ID: @Model.Id</h3>
            @if (Model.Flight != null)
            {
                <p class="card-text"><strong>Flight:</strong> @Model.Flight.Airline - @Model.Flight.Departure to
                    @Model.Flight.Arrival</p>
                <p class="card-text"><strong>Departure Time:</strong> @Model.Flight.DepartureTime.ToString("g")</p>
                <p class="card-text"><strong>Arrival Time:</strong> @Model.Flight.ArrivalTime.ToString("g")</p>
                <p class="card-text"><strong>Price:</strong> $@Model.Flight.Price</p>
                <p class="card-text"><strong>Seats Booked:</strong> 1</p>
                <p class="card-text">Please Save this information.</p>
            }
            else
            {
                <p class="card-text">Flight details are not available.</p>
            }

            @if (Model.GuestUser != null)
            {
                @* <p class="card-text"><strong>Booked by:</strong> @Model.User.Username</p> *@
            }
            else
            {
                <p class="card-text">Booking user details are not available.</p>
            }

            <a asp-action="Index" asp-controller="Flight" class="btn dark-button">Return to Flights</a>
        </div>
    </div>
</div>
